.figcaption--border {
  border: black;
}

.article__section {
  padding: 0 30px;
}

.article__section.article__section--block {
  padding: 0
}

.article__block {
  padding-left: 45px;
  padding-bottom: 25px;
  border-radius: 10px;
  background: #f1f1f1;
}

.article__section:not(:first-child) {
  padding-top: 25px;
}

.article__section:not(:last-child) {
  padding-bottom: 25px;
}

.article__header,
.article__wrapper:not(:last-child),
.article__paragraph:not(:last-child),
.article__figure:not(:last-child),
.section__header {
  margin-bottom: 30px;
}

.article__wrapper {
  vertical-align: top;
  display: inline-block;
  width: 480px;
}

.article__wrapper--left {
  margin-right: 30px;
  width: 560px;
}

.article__wrapper--right {
  text-align: right;
  padding-left: 40px;
  width: 560px;
}

.article__figure {
  text-align: center;
}

.article__caption {
  border: 1px black solid;
  padding: 15px 30px;
}

.article__figure.article__figure--no-margin {
  margin-bottom: 0;
}

.article__paragraph {
  max-width: 1080px;
}