.article {
  padding: 32px 0;
}

.article__container {
  padding: 0 30px;
}

.article__container:not(:first-child) {
  padding-top: 25px;
}

.article__container:not(:last-child) {
  padding-bottom: 25px;
}

.article__container--block {
  padding: 0;
}

.article__block {
  padding: 25px 30px 25px 45px;
  border-radius: 10px;
  background: #f1f1f1;
}

.article__header,
.article__figure,
.article__paragraph,
.article__image,
.section__header,
.article__wrapped {
  margin-bottom: 30px;
}

.article__paragraph:last-child,
.article__image:last-child,
.article__wrapped:last-child,
.article__image--no_margin {
  margin-bottom: 0
}

.article__wrapper {
  vertical-align: top;
  display: inline-block;
}

.article__image {
  text-align: center;
}

.article__column {
  display: inline-block;
  vertical-align: top;
  max-width: 480px;
}

.article__column--big {
  display: inline-block;
  vertical-align: top;
  max-width: 560px;
}

.article__figure {
  border: 1px black solid;
}

.article__figcaption {
  padding: 15px 30px;
}

.article__paragraph {
  display: inline-block;
}

.article__image--wrapped {
  display: inline-block;
  max-width: 560px;
  margin-bottom: 0;
}

.article__margin-right {
  margin-right: 30px;
}

.article__margin-right--big {
  margin-right: 35px;
}