.article__block {
  padding: 25px 30px 25px 45px;
  border-radius: 10px;
  background: #f1f1f1;
}

.article__section:not(:first-child) {
  padding-top: 25px;
}

.article__section:not(:last-child) {
  padding-bottom: 25px;
}

.article__header,
.article__paragraph:not(:last-child),
.article__figcaption,
.article__image,
.section__header {
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.article__wrapper {
  vertical-align: top;
  display: inline-block;
}

.article__image {
  text-align: center;
}

.article__column {
  display: inline-block;
  vertical-align: top;
  max-width: 490px;
}

.article__column--big {
  display: inline-block;
  vertical-align: top;
  max-width: 560px;
}

.article__figure {
  border: black;
}

.article__figcaption {
  border: 1px black solid;
  padding: 15px 30px;
}

.article__figure--no-margin {
  margin-bottom: 0;
}

.article__paragraph {
  display: inline-block;
}

.article__image--wrapped {
  display: inline-block;
}

.article__paragraph--wrapped {
  width: auto;
}