@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.woff2") format('woff2'),
    url("../fonts/Roboto-Regular.woff") format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.woff2") format('woff2'),
    url("../fonts/Roboto-Bold.woff") format('woff');
  font-weight: 700;
  font-display: swap;
}


@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.woff2") format('woff2'),
    url("../fonts/Roboto-Black.woff") format('woff');
  font-weight: 900;
  font-display: swap;
}

.article__header {
  font-family: "Roboto Black", sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 120%;
}

.section__header {
  font-family: "Roboto Black", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 120%;
}

.block__header {
  font-family: "Roboto Bold", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
}

.navigation__element {
  color: #02535f;
  font-size: 20px;
  line-height: 120%;
}

.article__figcaption {
  color: #5e5e5e;
  text-align: left;
}

.article__bold {
  font-weight: 700;
}

.article__italic {
  font-style: italic;
}